* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
}

.w-100 {
    width: 100%;
}


/* BARRA DE NAVEGACION */

header {
    height: 100vh;
    width: 100%;
}

.container-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 5;
    top: 0;
}

.nav-ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-ul .fas {
    display: none;
    font-size: 1.1em;
    color: #fff;
    margin: 0 7px;
}

.nav-ul li {
    list-style: none;
    margin: 0 0.938em;
    z-index: 1;
    background: transparent;
    top: 0.3em;
}

.nav-ul a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
    background: transparent;
}

.nav-ul a:hover {
    color: #db232d;
}

.nav .btn-login {
    background-color: #db232d;
    padding: 0.7em;
    border-radius: 5px;
    border: none;
    margin: -0.313em 1.25em;
    font-size: 0.938em;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
}

.nav button:hover {
    cursor: pointer;
}

.logo {
    width: 10%;
    transition: all 250ms ease-in-out;
    margin-left: 1.875em;
    z-index: 1;
    margin-top: 0.625em;
}

.logo:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
}


/* IMAGEN DE PORTADA Y TITULOS */

.portada {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    object-fit: cover;
}

.portada-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.titulo {
    display: flex;
    z-index: 1;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
    margin-top: 12.5em;
}

.titulo h1 {
    font-size: 2.7em;
    font-family: 'Roboto', sans-serif;
    margin: 0.938em;
}

.mail-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    width: 100%;
}

.titulo button {
    background-color: #db232d;
    padding: 0.656em;
    border: none;
    font-size: 1.5em;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
    width: 100%;
}

.titulo button:hover {
    cursor: pointer;
}

.titulo p {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
}

.titulo input {
    padding: 0.671em;
    font-size: 1.5em;
    border: none;
    width: 40%;
}


/* SECTION NOSOTROS */

.titulo-nosotros {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    z-index: 1;
    top: 2em;
    text-align: center;
    flex-direction: column;
}

.titulo-nosotros h2 {
    margin-bottom: 20px;
    background-color: #db232d;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    border-radius: 5px;
}


/* CARDS */

.container-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 80px;
    position: relative;
    margin-bottom: 5em;
}

.card {
    width: 20%;
    height: 45vh;
    position: relative;
    transition: all 200ms ease-in-out;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.card img {
    height: 100%;
    width: 100%;
    z-index: 1;
    object-fit: cover;
    position: relative;
}


/* TEXTO EN HOVER SOBRE CARD */

.card:hover .text-img {
    opacity: 1;
}

.text-img {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 0;
    transition: all 300ms ease-in;
}

.text-img h2 {
    color: #fff;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 10px;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
    letter-spacing: 0.15em;
}


/* CONTACTO */

.input-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contacto {
    display: flex;
    position: relative;
    z-index: 1;
    /* margin-bottom: 20px; */
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: no-repeat center url(/img/simplebg.jpg);
    object-position: center;
}

.card-contacto {
    width: 100%;
    padding: 2em;
}

.card-contacto h2 {
    display: inline-flex;
    /* margin-left: 6em; */
    background-color: #db232d;
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
    padding: .5em;
    border-radius: 5px;
    color: #fff;
    margin: 2em 0 1.5em 0;
}

.container-input label {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
}

.container-input {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
}

.container-input input {
    width: 70%;
    margin: 1em;
}

textarea {
    width: 70%;
    height: 20vh;
}

.container-btn-index button {
    background-color: #db232d;
    padding: 0.4em;
    border: none;
    margin: 1em;
    font-size: 1.2em;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.container-btn button:hover {
    cursor: pointer;
}


/* CARROUSEL */

.container-carrusel {
    position: relative;
    width: 70%;
    top: 3em;
}


/* FOOTER */

.container-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
    height: 15%;
    z-index: 1;
    background-color: #db232d;
    /* top: 10%; */
}

.logo-footer {
    width: 45%;
    border: 1px solid #000;
    background: #000;
    margin-top: 1em;
}

.logo-texto p {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

.redes {
    margin-left: 40%;
}

.redes i {
    /* display: flex; */
    /* flex-direction: column; */
    font-size: 2em;
    color: #000;
    margin: 0.3em;
}

.redes a {
    text-decoration: none;
}

.fa-linkedin {
    transition: all 100ms ease-in;
}

.fa-linkedin:hover {
    color: #0e76a8;
}

.fa-instagram .icon-instagram {
    transition: all 100ms ease-in;
}

.fa-instagram:hover {
    color: #8134af;
}

.fa-github {
    transition: all 100ms ease-in;
}

.fa-github:hover {
    color: #fff;
}