* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
}

.w-100 {
    width: 100%;
}


/* BARRA DE NAVEGACION */

header {
    height: 100vh;
    width: 100%;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 3;
}

.nav-ul .fas {
    display: none;
}

.nav-ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-ul li {
    list-style: none;
    margin: 0 0.938em;
    z-index: 1;
    background: transparent;
}

.nav-ul a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
    background: transparent;
}

.nav-ul a:hover {
    color: #db232d;
}

.nav .btn-login {
    background-color: #db232d;
    padding: 0.7em;
    border-radius: 5px;
    border: none;
    margin: -0.313em 1.25em;
    font-size: 0.938em;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
}

.nav button:hover {
    cursor: pointer;
}

.logo {
    width: 10%;
    transition: all 250ms ease-in-out;
    margin-left: 1.875em;
    z-index: 1;
    margin-top: 0.625em;
}

.logo:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
}


/* IMAGEN DE PORTADA Y TITULOS */

.portada {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    object-fit: cover;
}

.portada-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.titulo {
    display: flex;
    z-index: 1;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
    margin-top: 12.5em;
}

.titulo h1 {
    font-size: 2.7em;
    font-family: 'Roboto', sans-serif;
    margin: 0.938em;
}

.mail-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    width: 100%;
}

.titulo button {
    background-color: #db232d;
    padding: 0.656em;
    border: none;
    font-size: 1.5em;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
    width: 100%;
}

.titulo button:hover {
    cursor: pointer;
}

.titulo p {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
}

.titulo input {
    padding: 0.671em;
    font-size: 1.5em;
    border: none;
    width: 40%;
}


/* SECTION NOSOTROS */

.titulo-nosotros {
    display: flex;
    align-items: center;
    color: #fff;
    z-index: 1;
    top: 105%;
    text-align: center;
    flex-direction: column;
    position: absolute;
}

.titulo-nosotros h2 {
    margin-bottom: 20px;
    background-color: #db232d;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    border-radius: 5px;
}


/* CARDS */

.container-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 30px;
    position: absolute;
}

.card {
    width: 20%;
    height: 50%;
    position: relative;
    transition: all 100ms ease-in;
}

.card:hover {
    cursor: pointer;
    height: 55%;
    width: 20%;
}

.card img {
    height: 100%;
    width: 100%;
    z-index: 1;
    object-fit: cover;
    position: relative;
}


/* TEXTO EN HOVER SOBRE CARD */

.card:hover .text-img {
    opacity: 1;
}

.text-img {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 0;
    transition: all 400ms ease-in;
}

.text-img h2 {
    color: #fff;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 10px;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
    letter-spacing: 0.1em;
}


/* CONTACTO */

.contacto {
    display: flex;
    position: relative;
    z-index: 1;
    top: 37em;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(/img/simplebg.jpg);
    object-position: center;
}

.card-contacto {
    width: 50%;
    padding: 2em;
}

.card-contacto h2 {
    display: inline-block;
    margin-left: 6em;
    background-color: #db232d;
    font-size: 1.6em;
    font-family: 'Roboto', sans-serif;
    padding: 3%;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 4.5%;
}

.container-input label {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.container-input {
    margin: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container-input input {
    width: 80%;
    margin: 1%;
}

textarea {
    margin: auto;
}

.container-btn button {
    background-color: #db232d;
    padding: 0.6em;
    border: none;
    margin-top: 3%;
    margin-left: 85%;
    font-size: 1.5em;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.container-btn button:hover {
    cursor: pointer;
}


/* CARROUSEL */

.container {
    margin: auto;
    /* background-color: white; */
    width: 800px;
    /* padding: 30px; */
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider {
    position: relative;
    width: 100%;
    height: 30em;
    box-shadow: 0px 2px 16px 6px #fff;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
}

ul.slider li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1;
}

ul.slider li:target {
    opacity: 1;
}

.menu {
    text-align: center;
    margin: 20px;
}

.menu li {
    display: inline-block;
    text-align: center;
    position: relative;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    background-color: #db232d;
    padding: 10px;
    width: 2px;
    height: 2px;
    border-radius: 100%;
    margin: 5px;
}

.menu li a:hover {
    background-color: rgba(248, 28, 48, 0.5);
}


/* FOOTER */

.container-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 15%;
    /* top: 140em; */
    z-index: 1;
    background-color: #db232d;
}

.logo-footer {
    width: 45%;
    border: 1px solid #000;
    background: #000;
}

.logo-texto p {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

.redes {
    margin-left: 40%;
}

.redes i {
    /* display: flex; */
    /* flex-direction: column; */
    font-size: 2em;
    color: #000;
    margin: 0.3em;
}

.redes a {
    text-decoration: none;
}

.fa-linkedin {
    transition: all 100ms ease-in;
}

.fa-linkedin:hover {
    color: #0e76a8;
}

.fa-instagram .icon-instagram {
    transition: all 100ms ease-in;
}

.fa-instagram:hover {
    color: #8134af;
}

.fa-github {
    transition: all 100ms ease-in;
}

.fa-github:hover {
    color: #fff;
}


/* PANTALLA DE LOGIN */

@media only screen and (max-width: 576px) {
    header {
        height: 100vh;
        width: 100%;
    }
    .container-nav {
        background-color: rgba(0, 0, 0, 1);
        z-index: 1;
        margin: auto;
        height: 10.55vh;
    }
    .nav {
        position: fixed;
        /* width: 100%; */
    }
    .nav-ul {
        flex-direction: column;
        position: fixed;
        padding: 0;
        margin: 0;
        left: 100%;
        top: 60px;
        background-color: #db232d;
        align-items: center;
        margin-right: 20px;
        width: 100%;
        height: 50%;
        /* padding: 5px 0; */
        transition: left 0.3s ease-in-out;
    }
    .nav-ul_visible {
        left: 0%;
    }
    .nav-ul li {
        margin: 20px;
        /* padding: 0 25%; */
        text-align: center;
    }
    .nav-ul a:hover,
    .nav-ul a_active {
        color: #000;
        background: none;
        font-weight: bold;
    }
    .nav .btn-login {
        background-color: #db232d;
        padding: 0.4em;
        border-radius: 5px;
        border: 2px solid;
        margin: auto;
        font-size: 1em;
    }
    .nav .btn-login:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.3);
    }
    .logo {
        width: 25%;
        transition: all 250ms ease-in-out;
        position: fixed;
        top: 0;
        left: -1.7%;
    }
    .logo:hover {
        cursor: pointer;
        transform: scale(1.5);
    }
    .toggle {
        /* width: 10%; */
        height: 5vh;
        position: fixed;
        right: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: none;
        background-color: #db232d;
        border-radius: 5px;
        padding: 20px;
    }
    .toggle:hover {
        background-color: rgba(248, 28, 48, 0.5);
    }
    .fa-bars {
        font-size: .8em;
    }
    /* PORTADA */
    .titulo h1 {
        font-size: 2.2em;
        margin: 0.5em;
    }
    .mail-inicio {
        margin-top: 2.5em;
    }
    .titulo button {
        padding: 0.4em;
        font-size: 1.2em;
    }
    .titulo button:hover {
        cursor: pointer;
    }
    .titulo p {
        font-size: 1.2em;
        text-align: center;
    }
    .titulo input {
        padding: 0.4em;
        font-size: 1.21em;
        width: 50%;
    }
    /* SECTION NOSOTROS */
    .titulo-nosotros {
        position: relative;
        top: 20px;
    }
    .titulo-nosotros h2 {
        margin-bottom: 15px;
        font-size: 1.2em;
        padding: 8px;
    }
    /* CARDS */
    .container-flex {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        top: 30px;
        position: relative;
    }
    .card {
        width: 90%;
        margin-bottom: 10px;
        top: 85%;
    }
    .card:hover {
        width: 100%;
    }
    /* TEXTO EN HOVER SOBRE CARD */
    .text-img {
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
    }
    .text-img h2 {
        font-size: 1.2em;
        letter-spacing: 0.15em;
    }
    /* CARROUSEL */
    .container {
        width: 95%;
        height: 65vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
}

ul.slider li img {
    object-fit: contain;
}

.menu li a {
    padding: 8px;
    width: 1px;
    height: 1px;
}


/* CONTACTO */

.input-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contacto {
    display: flex;
    position: relative;
    top: 5em;
    /* margin-bottom: 80px; */
    background: no-repeat center url(/img/simplebg.jpg);
}

.card-contacto {
    width: 100%;
    padding: 1em;
}

.card-contacto h2 {
    display: inline-flex;
    font-size: 1.1em;
    padding: 0.5em;
    margin: 0;
}

.container-input label {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
}

.container-input {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-input input {
    width: 100%;
    margin: 5px;
}

textarea {
    width: 60%;
}

.container-btn {
    width: 100;
    height: 10vh;
}

.container-btn button {
    position: relative;
    padding: 0.3em;
    font-size: 1.1em;
    margin: 1.2em 0;
    left: 7.2em;
}


/* FOOTER */

.container-icons {
    position: relative;
    height: 15vh;
    padding: 0;
    top: 100px;
}

.logo-footer {
    width: 30%;
}

.logo-texto p {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

.redes {
    margin: 0;
}

.redes i {
    display: flex;
    justify-content: center;
    font-size: 1.4em;
    color: #000;
    margin: 0.2em;
}

.nav-ul .fas {
    display: inline-flex;
    font-size: 1.3em;
    color: #fff;
    margin: 0 7px;
}